<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.mapper.BomMapper">
  <resultMap id="BaseResultMap" type="cn.kgc.pojo.Bom">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="materialId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="materialName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="specification" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="manufacturer" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, materialId, materialName, specification, manufacturer, note, status
  </sql>
  <select id="findList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bom
    <where>
      <if test="materialid != null and materialid != ''">
        materialid = #{materialid}
      </if>
      <if test="materialname != null and materialname != ''">
        materialname = #{materialname}
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.kgc.pojo.Bom">
    insert into bom (id,materialId,materialName,
      specification,manufacturer,note,
      status)
    values (#{id,jdbcType=INTEGER}, #{materialid,jdbcType=INTEGER}, #{materialname,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.kgc.pojo.Bom">
    insert into bom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="materialid != null">
        materialId,
      </if>
      <if test="materialname != null">
        materialName,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="materialid != null">
        #{materialid,jdbcType=INTEGER},
      </if>
      <if test="materialname != null">
        #{materialname,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.kgc.pojo.Bom">
    update bom
    <set>
      <if test="materialid != null">
        materialId = #{materialid,jdbcType=INTEGER},
      </if>
      <if test="materialname != null">
        materialName = #{materialname,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.kgc.pojo.Bom">
    update bom
    set materialId = #{materialid,jdbcType=INTEGER},
      materialName = #{materialname,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>